{% extends "base-dash.html" %}


{% block content %}
    <!-- Create New Button -->
    <div class="create-new-button"><a class="shadow-lg btn btn-warning" href="/cre" data-bs-toggle="tooltip" data-bs-placement="left" title="Create New NFT"><i class="fz-18 bi bi-plus-lg"></i></a></div>
    <div class="admin-wrapper">
      <div class="container">
        <h5 class="mb-3">Your all live bids</h5>
        <div class="row g-4">
          {% for nft in nfts %}
          <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
            <!-- Featured Card -->
            <div class="nft-card card border-0">
              <div class="card-body">
                <div class="img-wrap"><img src="/media/default/{{nft.image.file_id}}" alt="">
                  <!-- Badge -->
                  <div class="badge bg-dark position-absolute"><img src="/static/img/core-img/fire.png" alt="">NFT</div>
                  <!-- Dropdown -->
                  
                  <!-- Bid End -->
                  <div class="bid-ends" data-date="{{nft.timestamp}}">
                    <div><span class="days"></span><span>Days</span></div>
                    <div><span class="hours"></span><span>Hours</span></div>
                    <div><span class="minutes"></span><span>Min</span></div>
                    <div><span class="seconds"></span><span>Sec</span></div>
                  </div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>{{nft.no_of_copies}} stock available</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u4.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="/view-nft/{{nft.eth_address}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Fancy Car">{{nft.name}}</a><a class="author d-block fz-12 hover-primary text-truncate" href="/profile/{{nft.user.wallet_profile}}">@{{nft.user.username}}</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">{{nft.current_price}} ETH</h6>
                    </div>
                  </div>
                  <div class="col-12"><a class="btn btn-danger rounded-pill btn-sm mt-3 w-100" href="/view-nft/{{nft.eth_address}}"><i class="me-1 bi bi-wallet2"></i>Bid This Item</a></div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
          
     <!-- All JavaScript Files-->
    <script src="{{ url_for('static', path='js/all-js-libraries.js') }}"></script>
    
    <script src="{{ url_for('static', path='js/active.js') }}"></script>
   
    <script src=" {{ url_for('static', path='js/charts.js') }}"></script>
  </body>
</html>

{% endblock %}