{% extends "base-dash.html" %}


{% block content %}
    <!-- Create New Button -->
    <div class="create-new-button"><a class="shadow-lg btn btn-warning" href="/cre" data-bs-toggle="tooltip" data-bs-placement="left" title="Create New NFT"><i class="fz-18 bi bi-plus-lg"></i></a></div>
    <div class="admin-wrapper">
      <div class="container">
        <h5 class="mb-3">Your all live bids</h5>
        <div class="row g-4">
          <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
            <!-- Featured Card -->
            <div class="nft-card card border-0">
              <div class="card-body">
                <div class="img-wrap"><img src="img/bg-img/9.jpg" alt="">
                  <!-- Badge -->
                  <div class="badge bg-dark position-absolute"><img src="img/core-img/fire.png" alt="">New Bid</div>
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dropdownw892" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownw892">
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                    </ul>
                  </div>
                  <!-- Bid End -->
                  <div class="bid-ends" data-date="March 31, 2025 14:19:54">
                    <div><span class="days"></span><span>Days</span></div>
                    <div><span class="hours"></span><span>Hours</span></div>
                    <div><span class="minutes"></span><span>Min</span></div>
                    <div><span class="seconds"></span><span>Sec</span></div>
                  </div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>3 stock available</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u4.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Fancy Car">Fancy Car</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@fancy_car</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">0.784 ETH</h6>
                    </div>
                  </div>
                  <div class="col-12"><a class="btn btn-danger rounded-pill btn-sm mt-3 w-100" href="#"><i class="me-1 bi bi-pencil"></i>Edit this item</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
            <!-- Featured Card -->
            <div class="nft-card card border-0">
              <div class="card-body">
                <div class="img-wrap"><img src="img/bg-img/10.jpg" alt="">
                  <!-- Badge -->
                  <div class="badge bg-dark position-absolute"><img src="img/core-img/fire.png" alt="">New Bid</div>
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <button class="btn dropdown-toggle rounded-pill shadow-sm" id="drodown22" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drodown22">
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                    </ul>
                  </div>
                  <!-- Bid End -->
                  <div class="bid-ends" data-date="April 4, 2025 00:00:00">
                    <div><span class="days"></span><span>Days</span></div>
                    <div><span class="hours"></span><span>Hours</span></div>
                    <div><span class="minutes"></span><span>Min</span></div>
                    <div><span class="seconds"></span><span>Sec</span></div>
                  </div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>11 stock available</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u1.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Animal Playing with Guiter">Animal Playing with Guiter</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@creative_world</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">0.784 ETH</h6>
                    </div>
                  </div>
                  <div class="col-12"><a class="btn btn-danger rounded-pill btn-sm mt-3 w-100" href="#"><i class="me-1 bi bi-pencil"></i>Edit this item</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
            <!-- Featured Card -->
            <div class="nft-card card border-0">
              <div class="card-body">
                <div class="img-wrap"><img src="img/bg-img/11.jpg" alt="">
                  <!-- Badge -->
                  <div class="badge bg-danger position-absolute"><img src="img/core-img/fire.png" alt="">Bid Done</div>
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <button class="btn dropdown-toggle rounded-pill shadow-sm" id="drown22" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drown22">
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                    </ul>
                  </div>
                  <!-- Bid End -->
                  <div class="bid-ends" data-date="Feb 28, 2025 12:34:00">
                    <div><span class="days"></span><span>Days</span></div>
                    <div><span class="hours"></span><span>Hours</span></div>
                    <div><span class="minutes"></span><span>Min</span></div>
                    <div><span class="seconds"></span><span>Sec</span></div>
                  </div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>Not available</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u2.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Halloween #471">Halloween #471</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@fancy_car</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">0.784 ETH</h6>
                    </div>
                  </div>
                  <div class="col-12"><a class="btn btn-danger rounded-pill btn-sm mt-3 w-100" href="#"><i class="me-1 bi bi-pencil"></i>Edit this item</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
            <!-- Featured Card -->
            <div class="nft-card card border-0">
              <div class="card-body">
                <div class="img-wrap"><img src="img/bg-img/12.jpg" alt="">
                  <!-- Badge -->
                  <div class="badge bg-danger position-absolute"><img src="img/core-img/fire.png" alt="">Hot Bid</div>
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <button class="btn dropdown-toggle rounded-pill shadow-sm" id="droprrdown22" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="droprrdown22">
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                    </ul>
                  </div>
                  <!-- Bid End -->
                  <div class="bid-ends" data-date="December 31, 2025 14:19:39">
                    <div><span class="days"></span><span>Days</span></div>
                    <div><span class="hours"></span><span>Hours</span></div>
                    <div><span class="minutes"></span><span>Min</span></div>
                    <div><span class="seconds"></span><span>Sec</span></div>
                  </div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>29 stock available</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u3.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Vigor Dance">Vigor Dance</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@fancy_nft</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">0.784 ETH</h6>
                    </div>
                  </div>
                  <div class="col-12"><a class="btn btn-danger rounded-pill btn-sm mt-3 w-100" href="#"><i class="me-1 bi bi-pencil"></i>Edit this item</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
            <!-- Featured Card -->
            <div class="nft-card card border-0">
              <div class="card-body">
                <div class="img-wrap"><img src="img/bg-img/9.jpg" alt="">
                  <!-- Badge -->
                  <div class="badge bg-dark position-absolute"><img src="img/core-img/fire.png" alt="">New Bid</div>
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dropwwdown22" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropwwdown22">
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                    </ul>
                  </div>
                  <!-- Bid End -->
                  <div class="bid-ends" data-date="March 31, 2025 14:19:54">
                    <div><span class="days"></span><span>Days</span></div>
                    <div><span class="hours"></span><span>Hours</span></div>
                    <div><span class="minutes"></span><span>Min</span></div>
                    <div><span class="seconds"></span><span>Sec</span></div>
                  </div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>3 stock available</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u4.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Fancy Car">Fancy Car</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@fancy_car</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">0.784 ETH</h6>
                    </div>
                  </div>
                  <div class="col-12"><a class="btn btn-danger rounded-pill btn-sm mt-3 w-100" href="#"><i class="me-1 bi bi-pencil"></i>Edit this item</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
            <!-- Featured Card -->
            <div class="nft-card card border-0">
              <div class="card-body">
                <div class="img-wrap"><img src="img/bg-img/10.jpg" alt="">
                  <!-- Badge -->
                  <div class="badge bg-dark position-absolute"><img src="img/core-img/fire.png" alt="">New Bid</div>
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <button class="btn dropdown-toggle rounded-pill shadow-sm" id="drowzpdown22" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drowzpdown22">
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                    </ul>
                  </div>
                  <!-- Bid End -->
                  <div class="bid-ends" data-date="April 4, 2025 00:00:00">
                    <div><span class="days"></span><span>Days</span></div>
                    <div><span class="hours"></span><span>Hours</span></div>
                    <div><span class="minutes"></span><span>Min</span></div>
                    <div><span class="seconds"></span><span>Sec</span></div>
                  </div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>11 stock available</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u1.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Animal Playing with Guiter">Animal Playing with Guiter</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@creative_world</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">0.784 ETH</h6>
                    </div>
                  </div>
                  <div class="col-12"><a class="btn btn-danger rounded-pill btn-sm mt-3 w-100" href="#"><i class="me-1 bi bi-pencil"></i>Edit this item</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
            <!-- Featured Card -->
            <div class="nft-card card border-0">
              <div class="card-body">
                <div class="img-wrap"><img src="img/bg-img/11.jpg" alt="">
                  <!-- Badge -->
                  <div class="badge bg-danger position-absolute"><img src="img/core-img/fire.png" alt="">Bid Done</div>
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <button class="btn dropdown-toggle rounded-pill shadow-sm" id="droxepdown22" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="droxepdown22">
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                    </ul>
                  </div>
                  <!-- Bid End -->
                  <div class="bid-ends" data-date="Feb 28, 2025 12:34:00">
                    <div><span class="days"></span><span>Days</span></div>
                    <div><span class="hours"></span><span>Hours</span></div>
                    <div><span class="minutes"></span><span>Min</span></div>
                    <div><span class="seconds"></span><span>Sec</span></div>
                  </div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>Not available</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u2.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Halloween #471">Halloween #471</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@fancy_car</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">0.784 ETH</h6>
                    </div>
                  </div>
                  <div class="col-12"><a class="btn btn-danger rounded-pill btn-sm mt-3 w-100" href="#"><i class="me-1 bi bi-pencil"></i>Edit this item</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-4 col-xxl-3">
            <!-- Featured Card -->
            <div class="nft-card card border-0">
              <div class="card-body">
                <div class="img-wrap"><img src="img/bg-img/12.jpg" alt="">
                  <!-- Badge -->
                  <div class="badge bg-danger position-absolute"><img src="img/core-img/fire.png" alt="">Hot Bid</div>
                  <!-- Dropdown -->
                  <div class="dropdown">
                    <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dreeopdown22" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dreeopdown22">
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                      <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                    </ul>
                  </div>
                  <!-- Bid End -->
                  <div class="bid-ends" data-date="December 31, 2025 14:19:39">
                    <div><span class="days"></span><span>Days</span></div>
                    <div><span class="hours"></span><span>Hours</span></div>
                    <div><span class="minutes"></span><span>Min</span></div>
                    <div><span class="seconds"></span><span>Sec</span></div>
                  </div>
                </div>
                <!-- Others Info -->
                <div class="row gx-2 align-items-center mt-3">
                  <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>29 stock available</span></div>
                  <div class="col-4 text-end">
                    <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                  </div>
                </div>
                <!-- Meta Info -->
                <div class="row gx-2 align-items-center mt-2">
                  <div class="col-8">
                    <div class="name-info d-flex align-items-center">
                      <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u3.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                      <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Vigor Dance">Vigor Dance</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@fancy_nft</a></div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                      <h6 class="mb-0">0.784 ETH</h6>
                    </div>
                  </div>
                  <div class="col-12"><a class="btn btn-danger rounded-pill btn-sm mt-3 w-100" href="#"><i class="me-1 bi bi-pencil"></i>Edit this item                </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- All JavaScript Files-->
     <script src="{{ url_for('static', path='js/all-js-libraries.js') }}"></script>
    
     <script src="{{ url_for('static', path='js/active.js') }}"></script>
    
     <script src=" {{ url_for('static', path='js/charts.js') }}"></script>
  </body>
</html>

{% endblock %}