{% extends "base.html" %}

    
            
            
        
{% block content %}
    
    
            
            
        
    
    
    
    
    
    
            <!-- ***** Header End ***** -->
            
            <!-- ***** Page Wrapper Start ***** -->
            <div class="page-wrapper">
    
                <!-- ***** Create Area Start ***** -->
                <section class="author-area">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-7">
                                <!-- Intro -->
                                <div class="intro">
                                    <div class="intro-content">
                                        <span>Get Started</span>
                                        <h3 class="mt-2 mb-0">Create New  NFT</h3>
                                         <h3 style="font-size:20px; background-color: #007bff; width: 100%; height: 30px;" class="mt-2 mb-0">Balance : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{user.eth_balance}} <i style="font-size:15px;">ETH</i></h3> 
                                        <h3 style="font-size:20px; background-color: #007bff; width: 100%; height: 30px;" class="mt-2 mb-0">Gas Fee : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 0.2 <i style="font-size:15px;">ETH</i></h3>
                                </div>
                                <br>
    
                                
                                <!-- Item Form -->
                                <form method="POST" enctype="multipart/form-data" action=/addnft class="item-form card no-hover">
                                    <input type="hidden" name="_token" value="lAucxBu9LlYnuulPDx0CvT4FQmBR2zkjvLSF4PJ5">                                <div class="row mb-2">
                                        <div class="col-12">
                                                                                                                       </div>
                                    </div>
                                    {{error_message}}
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input name="image" class="form-control" type="file" id="formFile" accept="image/*" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Enter NFT Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control" name="discription" placeholder="Description" cols="30" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <select name="collection_id" id="collection">
                                                <option value="">---Select a Collection---</option>
                                                {% for collection in colla %}
                <option value="{{ collection.id }}">{{ collection.name }}</option>
            {% endfor %}
                                                                                            </select>                                        
                                            </div>
                                        </div>
                                    </div>                               
                                    
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <select name="currency" id="currency">
                                                    <option value="ETH">ETH</option>
                                                    <!--<option value="">---Currency---</option>-->
                                                    
                                                    <!--<option value="SOL">SOL</option>-->
                                                    <!--<option value="USDC">USDC</option>-->
                                                    <!--<option value="DAI">DAI</option>-->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                    
    
        
                                    <div class="row mb-2" style="display:block" id="saleprice">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="number" step="0.01" min="0" class="form-control" name="current_price" placeholder="Sale Price">
                                            </div>
                                        </div>
                                    </div>                                
                                                       
            
                                                                                 
    
                                    
    
                                    
                                                       
    
                                    <div class="row">
                                                                            <div class="col-12">
                                            <i style="font-size:15px; color:red; width: 100%; height: 30px;" class="mt-2 mb-0"> &nbsp; &nbsp; Please Pay your gas fee to proceed with NFT creation</i>
                                        </div>
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary">Add NFT</button>
                                                                        <p>Gas fee will be automatically deducted from your balance</p>
                                </form>                          
                                 
                                
                                
                                <div class="row">
                                    <div class="col-7">
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                             <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" style="max-width:500px !important">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                    
                                                    
                                                    <h4 class="fst-italics"> Gas fee will be automatically deducted from your balance.</h4>
                                                    
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                     
                </div></section>
                <!-- ***** Create Area End ***** -->
                
            </div>
            <!-- ***** Page Wrapper End ***** -->
    
    
    <script type="text/javascript">
    function fixedCheck() {
        <!--if (document.getElementById('fixeditem').checked) {-->
        <!--    document.getElementById('enddate').style.display = 'none';-->
    
        <!--}-->
        <!--else document.getElementById('enddate').style.display = 'block';-->
    
    /*     if (document.getElementById('fixeditem').checked) {
            document.getElementById('endtime').style.display = 'none';
    
        }
        else document.getElementById('endtime').style.display = 'block'; */
    
     };
    
     <!--function mintCheck() {-->
     <!--   if (document.getElementById('nomint').checked) {-->
     <!--       document.getElementById('marketplace').style.display = 'none';-->
     <!--       // document.getElementById('marketplace').required = 'false';        -->
    
     <!--   }-->
     <!--   else document.getElementById('marketplace').style.display = 'block';-->
     <!--       //  document.getElementById('marketplace').required = 'true'; -->
        
    
     <!--   if (document.getElementById('nomint').checked) {-->
     <!--       document.getElementById('mintaddress').style.display = 'none';-->
     <!--       // document.getElementById('mintaddress').required = 'false';-->
    
     <!--   }-->
     <!--   else document.getElementById('mintaddress').style.display = 'block';-->
     <!--       //  document.getElementById('mintaddress').required = 'true';    -->
    
     <!--}; -->
    
     <!--function SaleCheck() {-->
     <!--   if (document.getElementById('nosale').checked) {-->
     <!--       document.getElementById('saleprice').style.display = 'none';-->
     <!--       // document.getElementById('saleprice').required = 'false';-->
    
    
     <!--   }-->
     <!--   else document.getElementById('saleprice').style.display = 'block';-->
     <!--       //  document.getElementById('saleprice').required = 'true';-->
    
     <!--};-->
    
    </script> 
    
    <script>
    let payModalBtn = document.getElementById('payModalBtn');
    payModalBtn.addEventListener('click', function(){
        console.log('button clicked successfully');
        $('#exampleModal').modal('toggle')
        
    <!--$('#exampleModal').on('show.bs.modal', function (event) {-->
    <!--  var button = $(event.relatedTarget) // Button that triggered the modal-->
    <!--  var recipient = button.data('whatever') // Extract info from data-* attributes-->
    <!--  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).-->
    <!--  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.-->
    <!--  var modal = $(this)-->
    <!--  modal.find('.modal-title').text('New message to ' + recipient)-->
    <!--  modal.find('.modal-body input').val(recipient)-->
    <!--})-->
    });
    </script>
    
    
     
    {% endblock %}