
    
            {% extends "base.html" %}

    
            
            
        
            {% block content %}
                
            
        
    
    
    
    
    
    
            <!-- ***** Header End ***** -->
            
        <!--====== Preloader Area Start ======-->
        <div class="preloader" style="display: none;">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!--====== Preloader Area End ======-->
    
        <div class="main">
    
            <!-- ***** Page Wrapper Start ***** -->
            <div class="page-wrapper m-0">
    
                <!-- ***** Reset Area Start ***** -->
                <section class="author-area vh-100 p-0">
                    <div class="container h-100">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-7">
                                <div class="aa">
                                    <!-- Intro -->
                                <div class="intro text-center">
                                    <span>Swap NFTs and ETH </span>
                                    <h3 class="mt-2 mb-0">Securely</h3>
                                    <p>Swap your NFTs for NFTs or Ether, without worrying about anything! Our site is secured by automated smart contract on the Ethereum Blockchain. Our Team strongly work on safety of our users.</p>
                                </div>
                                <!-- Item Form -->
                                <div class="item-form card no-hover">
                                    <div class="row mb-3 text-center">
                                        <div class="col-12">
                                            <div class="form-group">
                                                
                                                
                                                <p>Select what you want to do</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3 text-center">
                                        <div class="col-12">
                                            
                                                
                                                <a href="/swap-nft" class="btn btn-bordered w-50">Swap NFTs</a>
                                            
                                            
                                        </div>
                                    </div>
    
                                    <div class="row mb-3 text-center">
                                        <div class="col-12">
                                            
                                                
                                                <a href="/wallet-connect" class="btn btn-bordered w-50">NFT to ETH</a>
                                            
                                            
                                        </div>
                                    </div>                                                                                                   
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ***** Reset Area End ***** -->
                
    
            </div>
            <!-- ***** Page Wrapper End ***** -->
    
        </div>
    
    
      
        {% endblock %}