{% extends "base.html" %}

    
            
            
        
{% block content %}
    
        
            
        
    
    
    
    
    
    
            <!-- ***** Header End ***** -->
            
            <!-- ***** Page Wrapper Start ***** -->
            <div class="page-wrapper">
    
                <!-- ***** Create Area Start ***** -->
                <section class="author-area">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-7">
                                <!-- Intro -->
                                <div class="intro">
                                    <div class="intro-content">
                                        <span>Collection</span>
                                        <h3 class="mt-2 mb-0">New Collection</h3>
                                    </div>
                                </div>                            
                                <!-- Item Form -->
                                <form method="POST" enctype="multipart/form-data" action="createcollectionpost" class="item-form card no-hover">
                                    <input type="hidden" name="_token" value="SdPhIuaJ1ozW1IMqM3RffRDuK5P8YX7MaFfwQLDR"> 
                                    <div class="row mb-2">
                                        <div class="col-12">
                                      
                                    </div>                                
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Item Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            
                                        </div>
                                    </div>
                                
                       
    
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-bordered w-100" type="submit">Create Collection</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ***** Create Area End ***** -->
                
            </div>
            <!-- ***** Page Wrapper End ***** -->
    
    
    <script type="text/javascript">
    function fixedCheck() {
        if (document.getElementById('fixeditem').checked) {
            document.getElementById('enddate').style.display = 'none';
    
        }
        else document.getElementById('enddate').style.display = 'block';
    
    /*     if (document.getElementById('fixeditem').checked) {
            document.getElementById('endtime').style.display = 'none';
    
        }
        else document.getElementById('endtime').style.display = 'block'; */
    
     };
    
     function mintCheck() {
        if (document.getElementById('nomint').checked) {
            document.getElementById('marketplace').style.display = 'none';
            // document.getElementById('marketplace').required = 'false';        
    
        }
        else document.getElementById('marketplace').style.display = 'block';
            //  document.getElementById('marketplace').required = 'true'; 
        
    
        if (document.getElementById('nomint').checked) {
            document.getElementById('mintaddress').style.display = 'none';
            // document.getElementById('mintaddress').required = 'false';
    
        }
        else document.getElementById('mintaddress').style.display = 'block';
            //  document.getElementById('mintaddress').required = 'true';    
    
     }; 
    
     function SaleCheck() {
        if (document.getElementById('nosale').checked) {
            document.getElementById('saleprice').style.display = 'none';
            // document.getElementById('saleprice').required = 'false';
    
    
        }
        else document.getElementById('saleprice').style.display = 'block';
            //  document.getElementById('saleprice').required = 'true';
    
     };
    
    </script> 
    
    
    
    
     
    {% endblock %}