{% extends "base.html" %}

    
            
            
        
{% block content %}
            
            
        
    
    
    
    
    
    
            <!-- ***** Header End ***** -->
            
            <!-- ***** Page Wrapper Start ***** -->
            <div class="page-wrapper">
    <style>
        .complete-icon {
        height: 5rem !important;
        width: 5rem !important;
        font-size: -webkit-xxx-large !important;    
        }
    </style>
                <!-- ***** Settings Area Start ***** -->
                <section class="settings-area ">
                    <div class="container">
                        <div class="row justify-content-center items">
                            <div class="col-12 col-md-8 col-lg-7">
    
                                <div class="intro text-center">
                                    <span>Deposit</span>
                                    <h3 class="mt-2 mb-0">Submitted Successfully</h3>
                                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing officiis quae elit.</p>-->
                                </div>   
                            </div>                        
                        </div>
                        
                        
                                                        
                        <div class="row justify-content-center items">
                            <div class="col-md-6 item">
                                <!-- Settings Card -->
                                <div class="card settings-card no-hover">
                                 
    
                                    <div class="card settings-card no-hover">
                                        <!-- Single Card -->
                                        <div class="justify-content-between align-items-center">
                                            <!-- Card Info -->
                                            
                                            <!-- Card Content -->
                                            <div class="text-center">
                                                
                                                <h3 class="mt-2 mb-0">Deposit of {{amount}} ETH</h3>
                                                <p>Will be credited to your account upon confirmation</p>
                                                <span><i class="complete-icon icon-check me-1"></i></span>
                                            </div>                                             
    
                                            
                                        </div>
                                    </div>
                                                                            
    
                                    <div class="card settings-card no-hover">
                                        <!-- Single Card -->
                                        <div class="text-center">
                                            <a href="/dashboard"><button class="btn btn-bordered w-50" type="button">Dashboard</button></a>
                                        </div> 
                                    </div>
                                    
                                    
    
                                    </div>
                                </div>                                    
                            </div>                                        
                        
                        </div>
                    </section></div>
                
                <!-- ***** Settings Area End ***** -->
    
    
            
 
                {% endblock %}